@font-face {
  font-family: "Mandalorian";
  src: url("../../assets/font/mandalor.woff");
}

.para-h3-font{font-size: 1.17em; font-weight: bold;margin-top: 18px;}
.para-half{width: 100%; float:left;text-align: center;}

.para-blue, .para-blue-hover-red:hover{color:#fff!important;background-color:#181F2C!important}
.para-text-blue,.para-hover-text-blue:hover{color:#181F2C!important}
.para-text-red{color:#ff4543}

.para-manda-font{font-family: Mandalorian, "courier new"; font-size: 12px;}
.para-manda-size{font-size: 30px;}

.para-shop-item{width: 50%; object-fit: contain; height: 200px; min-width: 150px;}

@media (min-width: 750px){
  .para-half{width: 25%;}
}